* {
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

html {
	background: #303030;
	color: #c0c0c0;
	height: 200%;
	overflow: hidden;
}

body {
	margin: 0 0 0 0;
	font-family: monospace;
	display: none;
	height: 50%;
}

#mainWrapper {
	margin-top: 30px;
}

#main, #settings {
	margin: auto;
	width: 580pt;
}

@media only screen and (max-width: 600pt) {
	#mainWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: calc(100% - 50px - 30px);
	}

	#main, #settings {
		margin: 10pt 10pt 10pt 10pt;
		width: auto !important;
	}
}

header {
	background: #404040;
	padding: 0.1pt;
	box-shadow: 2pt 2pt 5pt rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 100;
}

img {
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 18px;
	font-weight: normal;
}

#mainTitle {
	margin: 5pt 5pt 5pt 5pt;
	font-size: 20pt;
	text-align: center;
}

#hashcheckBar {
	width: 100%;
	height: 1pt;
}

#reloadButton {
	box-shadow: none;
	position: absolute;
	background: transparent;
	font-size: 20pt;
	color: #c0c0c0;
	display: none;
	width: 50pt;
	height: 100%;
	left: 0;
	top: 0;
	right: calc(100%- 50pt);
}

#reloadButton img {
	transform: rotate(180deg);
	width: 75%;
	height: 75%;
}

#reloadButton:focus {
	background: #c0c0c0;
	color: #272822;
}

#reloadButton:focus img {
	filter: invert(1);
}

footer {
	max-height: 90%;
	position: fixed;
	bottom: 0;
	padding-top: 35pt;
	width: 100%;
	height: auto;
	z-index: 209;
	overflow-y: auto;
	overflow-x: hidden;
}

#settingsParent {
	margin-bottom: 10pt;
	text-align: center;
	background: #404040;
	box-shadow: 2pt 2pt 5pt rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	opacity: 0;

	margin-left: 100pt;
	margin-right: -100pt;
}

#cookieBanner {
	background: #404040;
	padding: 5pt;
	box-shadow: 2pt 2pt 5pt rgba(0, 0, 0, 0.5);
	padding-right: calc(5% + 50pt);
}

#initializedSection {
	opacity: 0;
}

#progress {
	margin: 30pt 0 10pt 0;
}

#progressBar {
	transition: unset;
	margin: auto;
	width: 0;
	height: 2pt;
	background: #36BF89;
	transition: opacity 0.16s ease-out;
}

#settings {
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 10pt;
	padding-top: 20pt;
	text-align: left;
}

#passwordsDontMatchLabel {
	padding-top: 10pt;
	padding-bottom: -10pt;
	margin-bottom: -10pt;
	/* height: 0; */
}

#settingsErrorMessage, #passwordsDontMatchLabel {
	text-align: center;
	width: 100%;

	color: #f04060;
	opacity: 0;
}

#settingsErrorMessage {
	z-index: 1000;
}

@media only screen and (max-width: 600pt) {
	#settingsErrorMessage {
		position: fixed;
		left: 0;
		top: 50px;
		background: #38121a;
		box-shadow: 2pt 2pt 5pt rgba(0, 0, 0, 0.5);
		padding: 3pt;
	}
}

#settings-master {
	flex: 0 0 50%;
	margin: 5pt 5pt 5pt 5pt;
	overflow: hidden;
	transition: height 0.3s ease-out;
}

#settings-secondary {
	flex: 1;
	margin: 5pt 5pt 5pt 5pt;
	overflow: hidden;
	transition: height 0.3s ease-out;
}

#settingsButton {
	position: relative;
	font-size: 24pt;
	color: #272822;
	height: 40pt;
	width: 40pt;
	min-width: 30pt;
	line-height: 30pt;
	display: inline-block;
	margin: 0 0 0 0;
	padding: 7pt 7pt 7pt 7pt;
	background: #36BF89;
	border-radius: 50%;
	position: absolute;
	z-index: 313;
	right: 5%;
	bottom: 5%;
	box-shadow: 2pt 2pt 5pt rgba(0, 0, 0, 0.5);
}

#settingsButton:focus {
	background: #76FFC9;
}

#openSettingsIcon {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 25%;
	left: 25%;
}

#closeSettingsIcon {
	position: absolute;
	width: 35%;
	height: 35%;
	top: 32.5%;
	left: 32.5%;
	opacity: 0;
	transform: scale(0, 0);
}

break {
	flex-basis: 100%;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

@media only screen and (max-width: 400pt) {
	#settings-master {
		flex: 0 0 calc(100% - 10pt);
	}

	.breakIfSmall {
		flex-basis: 100%;
		width: 0px;
		height: 0px;
		overflow: hidden;
	}
}

#saveSettingsButton {
	display: block;
	margin-bottom: 5pt;
}

#importInput {
	display: none;
}

.verticalSpace {
	height: 15pt;
}

a {
	color: #36A9BF;
}

a:visited {
	color: #36BF89;
}

/* Material buttons */
button {
	display: inline-block;
	height: 26pt;
	min-width: 42pt;
	padding: 6pt 16pt;
	line-height: 0.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	border: 0;
	border-radius: 2pt;
	background: #505050;
	color: #c0c0c0;
	outline: 0;

	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.2s ease-out;

	overflow: hidden;
	position: relative;
	font-family: monospace;
}

.mainButton {
	background: #36A9BF;
	box-shadow: 2pt 2pt 5pt rgba(0, 0, 0, 0.5);
	color: #272822;
}

.mainButton:focus {
	background: #86e9ff;
}

button:focus {
	background: #c0c0c0;
	color: #272822;
}

button:after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120pt;
	height: 120pt;
	margin-left: -60pt;
	margin-top: -60pt;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	transform: scale(0);
}

@keyframes button {
	0% {
		transform: scale(0);
	}

	20% {
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}

button:not(:disabled):not(:active):after {
	animation: button 0.6s ease-out;
}

button:after {
	visibility: hidden;
}

button:focus:after {
	visibility: visible;
}

button:disabled, button:focus:disabled {
	background: #88888820;
	color: #808080;
	box-shadow: none;
}

.showPasswordButton, #saveAccountButton {
	box-shadow: none;
	background: none;
	color: #c0c0c0;
	height: 20pt;
	min-width: 5pt;
	padding: 0 0 0 0;
	position: absolute;
	right: 0;
	top: 3pt;
	width: 20pt;
}

.showPasswordButton img {
	width: 60%;
	height: 60%;
}

#saveAccountButton img {
	width: 55%;
	height: 55%;
}

.deleteAccountButton {
	padding: 5pt;
	height: unset;
	min-width: unset;
	margin-right: 5pt;
	font-size: 13pt;
}

.showPasswordButton:focus {
	background: none;
	color: #c0c0c0;
}

#manageAccountsButton, #accountsToManage {
	margin-bottom: 10pt;
}

#accountsToManage {
	vertical-align: middle;
	max-height: 0vw;
	overflow: auto;
	width: 100%;
	padding-left: 10pt;
	padding-right: 10pt;
	background: #303030;
	border-radius: 5pt;

	transition: max-height 0.3s ease-out;
}

.ternaryButton:not(:focus):not(:disabled) {
	box-sizing: border-box;
	box-shadow: inset 0 0 0 2pt #505050;
	background: transparent;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

a:focus {
	color: #c0c0c0;
}

/* form starting stylings ------------------------------- */
.group {
	position: relative;
	margin-top: 20pt;
	margin-bottom: 10pt;
}

.group input {
	background: none;
	color: #c0c0c0;
	font-family: monospace;
	font-size: 15px;
	padding: 5pt 5pt 5pt 5pt;
	display: block;
	width: calc(100% - 10pt);
	border: none;
	border-bottom: 1pt solid #c0c0c0;
}

.group input[type='password'],
.group input[type='text'] {
	padding: 5pt 30pt 5pt 5pt;
	width: calc(100% - 35pt);
}

.group input:focus {
	outline: none;
}

.group input:invalid {
	box-shadow: none;
}

/* LABEL ======================================= */
.group label {
	color: #999;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5pt;
	top: 8pt;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */
.group input:focus~label, .group input:valid~label, .group input:disabled~label {
	top: -10pt;
	font-size: 13px;
	color: #36A9BF;
}

.group input:read-only~label {
	top: -10pt;
	font-size: 13px;
	color: #36BF89;
}

.group input:-moz-read-only~label {
	top: -10pt;
	font-size: 13px;
	color: #36BF89;
}

/* BOTTOM BARS ================================= */
.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2pt;
	width: 0;
	bottom: 0;
	position: absolute;
	background: #36A9BF;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 0%;
}

.bar:after {
	right: 0%;
}

#accountPasswordBar:before, #accountPasswordBar:after {
	background: #36BF89;
}

/* active state */
.group input:focus~.bar:before, .group input:focus~.bar:after {
	width: 100%;
}

/* Material checkbox */

.material-checkbox {
	position: relative;
	display: inline-block;
	cursor: pointer;
	line-height: 18pt;
	margin: 5pt 5pt 5pt 5pt;
}

.material-checkbox>input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
	z-index: -1;
	left: -15pt;
	top: -15pt;
	display: block;
	margin: 0;
	border-radius: 50%;
	width: 48pt;
	height: 48pt;
	outline: none;
	opacity: 0;
	transform: scale(1);
	-ms-transform: scale(0);
	/* Graceful degradation for IE */
	transition: opacity 0.5s, transform 0.5s;
}

.material-checkbox>input:checked {
	background-color: #36A9BF;
}

.material-checkbox:active>input {
	opacity: 1;
	transform: scale(0);
	transition: opacity 0s, transform 0s;
}

.material-checkbox>input:disabled {
	opacity: 0;
}

.material-checkbox>input:disabled+span {
	cursor: initial;
}

.material-checkbox>span::before {
	content: "";
	display: inline-block;
	margin-right: 15pt;
	border: solid 2pt #c0c0c0;
	border-radius: 2pt;
	width: 14pt;
	height: 14pt;
	vertical-align: -4pt;
	transition: border-color 0.5s, background-color 0.5s;
}

.material-checkbox>input:checked+span::before {
	border-color: #36A9BF;
	background-color: #36A9BF;
}

.material-checkbox>input:focus+span::before {
	border-color: #86e9ff;
}

.material-checkbox>input:active+span::before {
	border-color: #2196f3;
}

.material-checkbox>input:checked:active+span::before {
	border-color: transparent;
	background-color: #c0c0c0;
}

.material-checkbox>input:disabled+span::before {
	border-color: #c0c0c0;
}

.material-checkbox>input:checked:disabled+span::before {
	border-color: transparent;
	background-color: #c0c0c0;
}

.material-checkbox>span::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 5pt;
	height: 10pt;
	border: solid 2pt transparent;
	border-left: none;
	border-top: none;
	transform: translate(5.5pt, 1pt) rotate(45deg);
	-ms-transform: translate(5.5pt, 2pt) rotate(45deg);
}

.material-checkbox>input:checked+span::after {
	border-color: #fff;
}

/* Tooltips */
/* Tooltip container */

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #505050;
	color: #c0c0c0;
	text-align: center;
	padding: 5pt 5pt 5pt 5pt;
	border-radius: 5pt;

	/* Position the tooltip text */
	position: absolute;
	z-index: 989;
	bottom: 24pt;

	/* Fade in tooltip */
	opacity: 0;
	transition-delay: 0.5s;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.tooltip #checkboxTooltipText {
	bottom: 40pt;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 10pt;
	margin-left: -5pt;
	border-width: 5pt;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
